<div *ngIf="errorMessage.message" class="error-message">
  <div>
    {{ errorMessage.title }}
  </div>
  <div>
    {{ errorMessage.message }}
  </div>
</div>
<div class="h-[100vh] flex flex-col gap-2 mx-auto items-center">
  <div class="flex flex-col mx-auto items-center gap-2 relative">
    <canvas
      #pixelCanvas
      class="h-[450px] w-[350px]"
      [hidden]="!match"
    ></canvas>

    <div class="w-[500px] flex justify-between gal-10 flex-wrap">
      <div class="relative w-full">
        <input
          [(ngModel)]="searchQuery"
          (input)="onSearch()"
          id="search"
          class="h-12 w-full rounded-lg px-5 text-lg"
          type="text"
          placeholder="Search for a videogame"
        />
        <ul
          *ngIf="
            searchQuery &&
            filteredGameNames.length &&
            !filteredGameNames.includes(searchQuery)
          "
          class="autocomplete-list absolute bg-white shadow-lg border border-gray-300 rounded-lg w-full z-10"
        >
          <li
            *ngFor="let name of filteredGameNames"
            (click)="searchQuery = name"
            class="autocomplete-item cursor-pointer px-4 py-2 hover:bg-gray-200"
          >
            {{ name }}
          </li>
        </ul>
      </div>
      <button
        class="shadow-inner-buttons mt-4 h-10 w-1/3 text-white px-5 bg-amber-600 text-lg"
        (click)="newMatch()"
      >
        Skip!
      </button>
      <button
        class="h-10 shadow-inner-buttons active:bg-blue-900 mt-4 w-1/3 text-white px-5 bg-blue-600 text-lg"
        (click)="onGuessClick()"
      >
        Guess
      </button>
      <button
        *ngIf="match?.status === 'FINISHED'"
        class="h-10 w-1/2 shadow-inner-buttons mx-auto mt-4 text-white px-5 bg-[#008000] text-lg"
        (click)="newMatch()"
      >
        NEXT
      </button>
    </div>
  </div>
  <div class="w-full mt-2 bg text-center text-white text-2xl">
      <div class="flex items-center justify-center">
        <div class="mr-5">attempts:</div>
        <img *ngFor="let entry of hearts" [src]="entry" class="w-10 h-10" alt="hearts" />
      </div>
  </div>
  <div class="w-full mt-2 bg text-center text-white text-4xl" *ngIf="match?.status === 'FINISHED'">
    <div>{{match.answer.name === searchQuery? "Congratulations": "I'm Sorry You Lost..."}}</div>
    <div>{{match.answer.name}}</div>
  </div>
  <div class="w-full mt-2 bg">
    <div class="text-white text-md">
      <div class="flex justify-center gap-5">
        <div class="w-[200px] flex px-4 items-center justify-center h-20">
          Name
        </div>
        <div class="w-[200px] flex px-4 items-center justify-center h-20">
          Released
        </div>
        <div class="w-[200px] flex px-4 items-center justify-center h-20">
          Platforms
        </div>
        <div class="w-[200px] flex px-4 items-center justify-center h-20">
          Genres
        </div>
        <div class="w-[200px] flex px-4 items-center justify-center h-20">
          Publishers
        </div>
        <div class="w-[200px] flex px-4 items-center justify-center h-20">
          Developers
        </div>
      </div>
      <div
        class="flex justify-center georgia gap-5 mb-5"
        *ngFor="let attempt of match?.attempts?.slice()?.reverse()"
      >
        <div
          [ngStyle]="{
            'background-color':
              attempt.name === match.answer.name ? 'green' : '#D91515'
          }"
          class="rounded-lg border-2 shadow-inner-corners border-white text-lg max-h-[150px] w-[200px] p-5 overflow-scroll break-words text-center"
        >
          {{ attempt.name }}
        </div>
        <div
          [ngStyle]="{
            'background-color':
              attempt.released.slice(0, 4) === match.answer.released.slice(0, 4)
                ? 'green'
                : '#D91515'
          }"
          class="bg-[#D91515] rounded-lg border-2 shadow-inner-corners border-white text-lg max-h-[150px] w-[200px] p-5 overflow-x-scroll break-words text-center"
        >
          {{ attempt.released.slice(0, 4) }}
          <img
            *ngIf="
              attempt.released.slice(0, 4) !== match.answer.released.slice(0, 4)
            "
            [ngStyle]="{
              transform:
                attempt.released.slice(0, 4) < match.answer.released.slice(0, 4)
                  ? 'rotate(180deg)'
                  : 'none'
            }"
            src="/arrow.png"
            alt="arrow"
            class="h-16 mx-auto opacity-40"
          />
        </div>
        <div
          [ngStyle]="{
            'background-color': getBackgroundColor(
              attempt.platforms,
              match.answer.platforms
            )
          }"
          class="rounded-lg border-2 shadow-inner-corners border-white text-lg max-h-[150px] w-[200px] p-5 overflow-scroll break-words"
        >
          {{ attempt.platforms }}
        </div>
        <div
          [ngStyle]="{
            'background-color': getBackgroundColor(
              attempt.genres,
              match.answer.genres
            )
          }"
          class="rounded-lg border-2 shadow-inner-corners border-white text-lg max-h-[150px] w-[200px] p-5 overflow-scroll text-center break-words"
        >
          {{ attempt.genres }}
        </div>
        <div
          [ngStyle]="{
            'background-color': getBackgroundColor(
              attempt.publishers,
              match.answer.publishers
            )
          }"
          class="rounded-lg border-2 shadow-inner-corners border-white text-lg max-h-[150px] w-[200px] p-5 overflow-scroll text-center break-words"
        >
          {{ attempt.publishers }}
        </div>
        <div
          [ngStyle]="{
            'background-color': getBackgroundColor(
              attempt.developers,
              match.answer.developers
            )
          }"
          class="rounded-lg border-2 shadow-inner-corners border-white text-lg max-h-[150px] w-[200px] p-5 overflow-scroll break-words text-center"
        >
          {{ attempt.developers }}
        </div>
      </div>
    </div>
  </div>
</div>
