<div class="text-[70px] text-shadow-lg w-full text-center font-bold text-yellow-400">
  GUESSIO
  <div *ngIf="isRootPath" class="w-1/2 py-16 my-10 mx-auto rounded-lg box flex gap-10 flex-col items-center justify-center">
      <app-option-box [url]="'/match'" [title]="'Classic Game'" [description]="'5 Attempts to guess the game based on a artwork'"/>
      <app-option-box [title]="'Classic Movie'" [description]="'5 Attempts to guess the movie based on a poster'"/>
      <app-option-box [title]="'Survival Game'" [description]="'5 Attempts to guess as many games you can based on a artwork'"/>
      <app-option-box  [title]="'Survival Movie'" [description]="'5 Attempts to guess as many movies you can based on a poster'"/>
  </div>
</div>

<router-outlet />
